@model LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    <div style="margin:100px; margin-top:20px">
        @Html.HiddenFor(x=> x.ReturnUrl)
        <h1>Вход</h1>
        <div style="font-size:23px; font-family:Impact">
            <div>
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div>
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>
        <div style="width:40%">
            <label for="text" class="form-label">Введите логин</label>
            @Html.TextBoxFor(m => m.UserName, new {@class = "form-control", @placeholder="Логин"})
        </div>
        <div style="width:40%">
            <label for="exampleInputPassword1" class="form-label">Введите пароль</label>
            @*@Html.TextBoxFor(m => m.Password, new {@class = "form-control", @placeholder="Пароль"})*@
            @Html.PasswordFor(m => m.Password, new {@class = "form-control", @placeholder="Пароль"})
        </div>
        <button type="submit" class="btn btn-primary position-button">Войти</button>
    </div>
}
